langchain>=0.1.0
langchain-core>=0.1.0
langgraph>=0.0.20
langchain-google-genai>=0.0.5
requests>=2.31.0
fastapi
uvicorn
python-dotenv
passlib
python-jose
email-validator
python-multipart
psycopg2-binary
bcrypt
docker
numpy>=1.24.0
scikit-learn==1.0.2
pandas>=2.0.0
kagglehub>=0.2.0
xgboost>=1.7.0